/* HERO SECTION */
.hero-banner-adm {
  position: relative;
  height: 90vh;
  overflow: hidden;
}

/* VIDEO BACKGROUND */
.hero-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.sound-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 5;
  background: rgba(0,0,0,0.5);
  color: #fff;
  border: none;
  padding: 10px 14px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
}

.hero-bg video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* DARK OVERLAY */
/* .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(10, 25, 50, 0.4);
  z-index: 1;
} */

/* ANNOUNCEMENT BAR */
.announcement {
  position: absolute;
  top: 0;
  width: 100%;
  background: #0b1f3a;
  color: #fff;
  font-size: 14px;
  padding: 8px 0;
  text-align: center;
  z-index: 3;
}
.marquee-link{
color: #e7e7e7;
text-decoration: none;
cursor: pointer;
}

.marquee-link:hover{
text-decoration: underline;
}
/* CONTENT */
.hero-content h1 span,
.hero-content p span {
  background: rgba(20, 40, 80, 0.75); /* dark blue like your image */
  padding:0px;
  color: #fff;

  /* KEY PROPERTY */
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;

  line-height:1;
}

/* Button */
.hero-btn {
  background: #f4b400;
  color: #000;
  padding: 12px 24px;
  text-decoration: none;
  font-weight: 600;
  border-radius: 3px;
  transition: 0.3s;
}

.hero-btn:hover {
  background: #e0a800;
}


/* RESPONSIVE */
@media (max-width: 768px) {
  .hero-content {
    left: 20px;
    right: 20px;
    bottom: 60px;
  }

  .hero-content h1 {
    font-size: 26px;
  }

  .hero-content p {
    font-size: 14px;
  }
}
/* Floating Icons */
.floating-icons {
  position: absolute;
  right: 20px;
  bottom: 120px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 2;
}

.icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

.whatsapp {
  background: #25d366;
}

.mail {
  background: #f4b400;
}

@media (max-width: 768px) {

  .hero-content {
    left: 20px;
    right: 20px;
    bottom: 60px;
  }

  .hero-content h1 {
    font-size: 26px;
  }

  .hero-content p {
    font-size: 14px;
  }

  .floating-icons {
    right: 10px;
    bottom: 80px;
  }
}

.announcement {
  overflow: hidden;
  white-space: nowrap;
}

.announcement span {
  display: inline-block;
  padding-left: 100%;
  animation: scroll 12s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* SECTION */
.dates-sec {
  background: #f4f4f4;
  padding: 50px 0;
}

.dates-wrap {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

/* HEADER */
.dates-tag {
color: #f4b400;
    letter-spacing: 3px;
    font-weight: 600;
    margin-bottom: 30px;
    background-color: #0b1f3a;
    display: inline;
    padding: 8px 6px;
    line-height: 50px;
    font-size: 18px;
}

.dates-sec h2 {
  font-size: 38px;
    color: #1b2a41;
    /* margin-bottom: 15px; */
}

.dates-desc {
    color: #666;
    line-height: 1.7;
    margin-bottom: 25px;
    font-size: 18px;
}

/* GRID */
.dates-grid {
  display: flex;
  gap: 20px;
  overflow-x: auto;
}

/* CARD */
.date-card {
  min-width: 220px;
  background: #fab3002f;
  display: flex;
  border-radius: 4px;
}

/* LEFT LINE */
.date-card .line {
  width: 6px;
  background: #f4b400;
}

/* CONTENT */
.date-card .content {
  padding: 20px;
}

.date-card .icon {
  font-size: 24px;
  margin-bottom: 10px;
}

.date-card h3 {
  font-size: 18px;
  color: #1b2a41;
}

.date-card p {
  font-size: 14px;
  color: #333;
}

.date-card span {
  font-size: 12px;
  color: #666;
}

/* NOTE */
.dates-note {
  margin-top: 20px;
  color: #1b2a41;
  font-weight: 500;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .dates-grid {
    overflow-x: scroll;
  }
}

/* SECTION */
.admission-sec {
  background: #000;
  color: #fff;
  padding: 80px 0;
}

.admission-wrap {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

/* HEADER */
.admission-tag {
    color: rgb(244, 180, 0);
    letter-spacing: 3px;
    font-weight: 600;
    margin-bottom: 20px;
    background-color: rgb(11, 31, 58);
    display: inline;
    line-height: 50px;
    font-size: 18px;
    padding: 8px 6px;
}

.admission-sec h2 {
    font-size: 38px;
    color: #1b2a41;
    /* margin-bottom: 15px; */
}

.admission-desc {
     color: #666;
    line-height: 1.7;
    margin-bottom: 25px;
    font-size: 18px;
}

/* ROW */
.admission-row {
  display: flex;
  gap: 60px;
  align-items: center;
}

/* IMAGE */
.admission-img {
  width: 100%;
  max-width: 500px;
}

.admission-img-box {
  height: 320px;
  background: #ddd;
  border: 2px dashed #555;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
}

/* CONTENT */
.admission-content h3 {
  font-size: 22px;
  margin-bottom: 15px;
}

/* LIST */
.admission-list {
  margin-bottom: 30px;
  color: #ccc;
}

.admission-list li {
  margin-bottom: 10px;
}

/* DOC GRID */
.admission-docs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px 40px;
}

.doc-item {
  color: #ccc;
  font-size: 14px;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .admission-row {
    flex-direction: column;
  }

  .admission-docs {
    grid-template-columns: 1fr;
  }
}

/* SECTION */
.adm-light-sec {
  background: #ffffff;
  padding: 50px 0;
}

.adm-light-wrap {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

/* HEADER */
.adm-tag {
color: #f4b400;
    letter-spacing: 3px;
    font-weight: 600;
    margin-bottom: 15px;
    background-color: #0b1f3a;
    display: inline;
    padding: 8px 6px;
    line-height: 50px;
    font-size: 18px;
}

.adm-light-sec h2 {
    font-size: 38px;
    color: #1b2a41;
    /* margin-bottom: 15px; */
}

.adm-desc {
    color: #666;
    line-height: 1.7;
    margin-bottom: 25px;
    font-size: 18px;
}

/* ROW */
.adm-row {
  display: flex;
  gap: 60px;
  align-items: center;
}

/* IMAGE */
.adm-img {
  width: 100%;
  max-width: 520px;
}

.adm-img-box {
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.adm-img-box img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}

/* CONTENT */
.adm-content h3 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #1b2a41;
}

/* LIST */
.adm-list {
  margin-bottom: 30px;
  color: #555;
}

.adm-list li {
  margin-bottom: 10px;
  font-size: 18px;
}

/* DOC GRID */
.adm-docs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px 40px;
}

/* DOC ITEM */
.adm-doc {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #333;
  font-size: 18px;
}

.adm-doc span {
  width: 22px;
  height: 22px;
  border: 1.5px solid #1b2a41;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
.adm-doc span {
  border-color: #999;
  color: #1b2a41;
}
/* RESPONSIVE */
@media (max-width: 992px) {
  .adm-row {
    flex-direction: column;
  }

  .adm-docs {
    grid-template-columns: 1fr;
  }
}


/* SECTION */
.process-sec {
  background: #ffffff;
  padding: 50px 0;
}

.process-wrap {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

/* HEADER */
.process-tag {
color: #f4b400;
    letter-spacing: 3px;
    font-weight: 600;
    margin-bottom: 15px;
    background-color: #0b1f3a;
    display: inline;
    padding: 8px 6px;
    line-height: 50px;
    font-size: 18px;
}

.process-sec h2 {
    font-size: 38px;
    color: #1b2a41;
    /* margin-bottom: 15px; */
}

.process-desc {
    color: #666;
    line-height: 1.7;
    margin-bottom: 30px;
    font-size: 18px;
}

/* ROW */
.process-row {
  display: grid;
  grid-template-columns: 220px 1fr;
  border: 1px solid #cfcfcf;
  margin-bottom: 25px;
  background: #fff;
}

/* LEFT STEP */
.process-step {
  border-right: 1px solid #cfcfcf;
  display: flex;
  align-items: center;
  justify-content: center;
}

.process-step span {
  font-size: 14px;
  letter-spacing: 2px;
  color: #555;
  position: relative;
}

/* underline effect */
.process-step span::after {
  content: "";
  width: 40px;
  height: 2px;
  background: #1b2a41;
  position: absolute;
  left: 0;
  bottom: -8px;
}

/* RIGHT CONTENT */
.process-content {
  padding: 30px 40px;
}

.process-content h3 {
  font-size: 24px;
  color: #0b1f3a;
  margin-bottom: 8px;
}

.process-content p {
  color: #555;
  font-size: 16px;
}

/* HIGHLIGHT FIRST */
.process-row.highlight {
  background: #fab30022;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .process-row {
    grid-template-columns: 1fr;
  }

  .process-step {
    border-right: none;
    border-bottom: 1px solid #ccc;
    padding: 15px;
  }
}

.enq-sec {
  background: #16243a;
  padding: 80px 0;
}

.enq-wrap {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  gap: 50px;
  align-items: center;
}

/* LEFT */
.enq-left {
  flex: 1;
}

.enq-tag {
color: #f4b400;
    letter-spacing: 3px;
    font-weight: 600;
    margin-bottom: 15px;
    background-color: #0b1f3a;
    display: inline;
    padding: 8px 6px;
    line-height: 50px;
    font-size: 18px;
}

.enq-left h2 {
    font-size: 38px;
    color: #1b2a41;
    /* margin-bottom: 15px; */
}

.enq-desc {
    color: #666;
    line-height: 1.7;
    margin-bottom: 25px;
    font-size: 18px;
}

/* FORM */
.enq-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.enq-left input,
.enq-left textarea {
  width: 100%;
  padding: 14px;
  border-radius: 6px;
  border: none;
  background: #e5e5e5;
  margin-bottom: 15px;
  font-size: 14px;
}

.enq-left textarea {
  height: 100px;
  resize: none;
}

/* BUTTON */
.enq-left button {
  width: 100%;
  padding: 14px;
  background: #f4b400;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

/* IMAGE */
.enq-right {
  flex: 1;
}

.enq-img-box {
  height: 520px;
  /* background: #ccc; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.enq-img-box img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}


/* RESPONSIVE */
@media (max-width: 768px) {
  .enq-wrap {
    flex-direction: column;
  }

  .enq-grid {
    grid-template-columns: 1fr;
  }
}