/* HERO SECTION */
.hero {
  position: relative;
  height: 90vh;
  overflow: hidden;
  background-color:  rgba(10, 25, 50, 0.65);
  background-blend-mode: overlay;
  background-image: url('../images/banner.jpg');
  background-size: cover;
  background-position: center;
}

/* Background */
.hero-bg img,
.hero-bg video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(10, 25, 50, 0.65);
}

/* Announcement Bar */
.announcement {
  position: absolute;
  top: 0;
  width: 100%;
  background: #0b1f3a;
  color: #fff;
  font-size: 14px;
  padding: 8px 0;
  text-align: center;
  z-index: 3;
}

/* Content */
.hero-content {
  position: absolute;
  bottom: 100px;
  left: 60px;
  max-width: 650px;
  z-index: 2;
}

.hero-content h1 {
  font-size: 42px;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 15px;
}

.hero-content p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 25px;
  color: #e0e0e0;
}

/* Button */
.hero-btn {
  background: #f4b400;
  color: #000;
  padding: 12px 24px;
  text-decoration: none;
  font-weight: 600;
  border-radius: 3px;
  transition: 0.3s;
}

.hero-btn:hover {
  background: #e0a800;
}

/* Floating Icons */
.floating-icons {
  position: absolute;
  right: 20px;
  bottom: 120px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 2;
}

.icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

.whatsapp {
  background: #25d366;
}

.mail {
  background: #f4b400;
}

@media (max-width: 768px) {

  .hero-content {
    left: 20px;
    right: 20px;
    bottom: 60px;
  }

  .hero-content h1 {
    font-size: 26px;
  }

  .hero-content p {
    font-size: 14px;
  }

  .floating-icons {
    right: 10px;
    bottom: 80px;
  }
}

.announcement {
  overflow: hidden;
  white-space: nowrap;
}

.announcement span {
  display: inline-block;
  padding-left: 100%;
  animation: scroll 12s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}



/* SECTION */
.pillars-sec {
  background: #f3f3f3;
  padding: 80px 0;
}

.pillars-wrap {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

/* HEADER */
.pillars-tag {
  color: #f4b400;
  letter-spacing: 3px;
  font-size: 14px;
  margin-bottom: 10px;
}

.pillars-sec h2 {
  font-size: 42px;
  color: #1b2a41;
  margin-bottom: 15px;
}

.pillars-desc {
  color: #666;
  max-width: 900px;
  margin-bottom: 50px;
  line-height: 1.7;
}

/* GRID */
.pillars-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* CARD */
.pillar-card {
  background: #fff;
  padding: 30px;
  border: 1px solid #ddd;
  transition: 0.3s;
}

/* ICON */
.pillar-icon {
  width: 50px;
  height: 50px;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 20px;
}

/* TEXT */
.pillar-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #1b2a41;
}

.pillar-card p {
  color: #666;
  font-size: 14px;
  line-height: 1.6;
}

/* HOVER */
.pillar-card:hover {
  transform: translateY(-5px);
  border-color: #f4b400;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .pillars-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .pillars-grid {
    grid-template-columns: 1fr;
  }
}

/* SECTION */
.value-sec {
  background: #f3f3f3;
  padding: 80px 0;
}

.value-wrap {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

/* HEADER */
.value-tag {
  color: #f4b400;
  letter-spacing: 3px;
  font-size: 14px;
}

.value-sec h2 {
  font-size: 42px;
  color: #1b2a41;
  margin: 10px 0;
}

.value-desc {
  color: #666;
  max-width: 900px;
  margin-bottom: 60px;
}

/* ROW */
.value-row {
  display: flex;
  align-items: center;
  gap: 60px;
  margin-bottom: 80px;
}

/* REVERSE */
.value-row.reverse {
  flex-direction: row-reverse;
}

/* IMAGE */
.value-img {
  width: 100%;
  max-width: 500px;
  background-color: #f4b400;
}

.value-img-box {
  height: 300px;
  width: 100%;
  /* background: #ddd; */
  /* border: 2px dashed #bbb; */
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.value-img-box img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
/* CONTENT */
.sub-tag {
  color: #f4b400;
  letter-spacing: 3px;
  margin-bottom: 10px;
}

.value-content h3 {
  font-size: 34px;
  color: #1b2a41;
  margin-bottom: 10px;
}

.value-content p {
  color: #666;
  margin-bottom: 15px;
}

/* POINTS */
.value-points {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 30px;
}

.value-points div {
  font-size: 14px;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .value-row {
    flex-direction: column;
  }

  .value-row.reverse {
    flex-direction: column;
  }

  .value-points {
    grid-template-columns: 1fr;
  }
}
